.game {
  display: flex;
  flex-direction: row;
}

.game-board,
.game-info {
  display: flex;
}

.game-board {
  flex-grow: 1;
  background: #fdfdfd;
}

.game-info {
  width: 25%;
  max-width: 180px;
  background: #f0f0f0;
  flex-direction: column;
}

.game-status {
  display: flex;
  font-size: 18px;
  line-height: 2.5em;
  margin-bottom: 20px;
}

.game-status .phrase {
  flex-grow: 1;
  padding: 0 10px;
  background: #3b3b3b;
  color: #fdfdfd;
}

.game-status .player {
  flex-grow: 0;
  width: 2.5em;
  text-align: center;
  background: #d0d0d0;
}

.history {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.history li {
  margin-bottom: 15px;
}

.history li .square {
  border-width: 0 2px 2px 0;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
  display: block;
}

@media all and (max-width: 765px) {
  .game {
    flex-direction: column;
  }

  .game-info {
    max-width: 100%;
    width: 100%;
    height: 200px;
  }

  .history {
    flex-direction: row;
    justify-content: space-around;
    max-height: 139px;
    overflow: scroll;
  }

  .history li {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media all and (max-width: 540px) {
  .history li {
    flex: 0 0 auto;
    width: 33%;
  }
}
